Title: About
Image: images/water.jpg
---
<h2>Organizers</h2>
<p>Hello, my name is Jamie Phillips.</p>
<p>I am a Solutions Architect and .NET developer by day and an open source fanatic by night.</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
