@section Header {
    @Html.Partial("_IndexHeader")
}

<div class="row">
    <div class="col-sm-8 right-border">
        Test Page
    </div>
    <div class="col-sm-4 sidebar">
        <hr class="visible-xs-block" />

        More stuff here.
        @Html.Partial("_Sidebar")
    </div> 
</div>
